.formDesgin{
    background-color: #EFEFEF;
    padding: 20px;
    border-radius: 5px;
}
.inputDesgin{
    width: 310px;
    border: none;
    height: 35px;
    border-radius: 5px;
    padding: 8px;
    
}
.searchBtn{
    border: none;
    height: 45px;
    width: 310px;
    color: white;
    background-color: #FF7347;
    border-radius: 5px;
}
.cardBody{
    margin: 30px 0px;
    background-color: #EFEFEF;
    padding: 10px;
    border-radius: 5px;
}
.backColor{
    padding: 10px;
    border-radius: 5px;
    background-color: #FF7347;
    color: white;
}